ALLOWED_ORIGINS: "http://localhost:8000,https://your-app-domain.app"

OAUTH_CLIENT_ID_GOOGLE: ""
OAUTH_CLIENT_SECRET_GOOGLE: ""

OAUTH_CLIENT_ID_FACEBOOK: ""
OAUTH_CLIENT_SECRET_FACEBOOK: ""

OAUTH_CLIENT_ID_GITHUB: ""
OAUTH_CLIENT_SECRET_GITHUB: ""

OAUTH_CLIENT_ID_INSTAGRAM: ""
OAUTH_CLIENT_SECRET_INSTAGRAM: ""

OAUTH_CLIENT_ID_LINKEDIN: ""
OAUTH_CLIENT_SECRET_LINKEDIN: ""

OAUTH_CLIENT_ID_MICROSOFT: ""
OAUTH_CLIENT_SECRET_MICROSOFT: ""

OAUTH_CLIENT_ID_TIKTOK: ""
OAUTH_CLIENT_SECRET_TIKTOK: ""

OAUTH_CLIENT_ID_X_TWITTER: ""
OAUTH_CLIENT_SECRET_X_TWITTER: ""